.navbar {
    background-color: #006400;
    box-shadow: 0 8px 7px -7px black;
}

/* CSS para nome e créditos do usuário */
.navbar-username-credits {
    color: white;
    font-weight: bold;
    margin-right: 2rem; /* Adicionada margem à direita para separar do botão de logout */

}

/* CSS para o botão de saída */
.navbar-logout-btn {
    background-color: white;
    color: #006400; 
    font-weight: bold;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    transition: background-color 0.3s ease;
    margin-right: 30px;
    padding: 5px 20px;
}

/* Efeito de hover no botão de saída */
.navbar-logout-btn:hover {
    background-color: lightgray;
}