<nav class="navbar navbar-expand-lg sticky-top">
  <a class="navbar-brand">
    <img src="../../../assets/images/logo-lamp.svg" alt="Logo" class="logo" width="150" height="70">
    <img src="../../../assets/images/logo-name.svg" alt="Logo" class="logo" width="100" height="60">
  </a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav ms-auto">
      <li class="nav-item">
        <img src="../../../assets/images/nav-bar-notification-icon.svg" alt="Notification icon" class="notification-icon">
      </li>
      <li class="nav-item">
        <img src="../../../assets/images/perfil-teste.png" alt="Profile Picture" class="profile-picture">
      </li>
      <li class="nav-item">
        <button class="navbar-logout-btn" (click)="logout()">Sair</button>
    </li>
    </ul>
  </div>
</nav>