<section class="vh-100">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-6 col-xl-5">
          <img src="../../assets/images/FRST-Logo-Base-02.jpg" class="img-fluid" alt="Sample image">
        </div>
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
          <div *ngIf="editMode; else viewMode" class="profile-edit">
            <h2>Edit Profile</h2>
            <form (submit)="saveProfile()">
              <!-- Input fields for editing user information -->
              <div class="form-outline mb-4">
                <label class="form-label" for="first_name">Primeiro Nome</label>
                <input type="text" id="first_name" name="first_name" class="form-control" placeholder="Primeiro nome" [(ngModel)]="user.first_name" required/>
              </div>
              <div class="form-outline mb-4">
                <label class="form-label" for="last_name">Sobrenome</label>
                <input type="text" id="last_name" name="last_name" class="form-control" placeholder="Sobrenome" [(ngModel)]="user.last_name" required/>
              </div>
              <div class="form-outline mb-3">
                <label class="form-label" for="cpfInput">CPF</label>
                <input type="text" id="cpfInput" name="cpfInput" class="form-control" placeholder="Insira seu CPF" [(ngModel)]="user.cpf" required/>
              </div>
              <div class="form-outline mb-3">
                <label class="form-label" for="telefone">Telefone</label>
                <input type="text" id="telefone" name="telefone" class="form-control" placeholder="Insira seu telefone" [(ngModel)]="user.telefone" required/>
              </div>
              <div class="form-outline mb-3">
                <label class="form-label" for="birthDate">Data de Nascimento</label>
                <input type="date" id="birthDate" name="birthDate" class="form-control" [(ngModel)]="user.data_nasc" required/>
              </div>
              <div class="form-outline mb-3">
                <label class="form-label" for="password">Senha</label>
                <input type="password" id="password" name="password" class="form-control" placeholder="Digite a senha" [(ngModel)]="user.password" required/>
              </div>
              <div class="form-outline mb-4">
                <label class="form-label" for="confirmPassword">Confirme a senha</label>
                <input type="password" id="confirmPassword" name="confirmPassword" class="form-control" placeholder="Confirme a senha" [(ngModel)]="user.password" required/>
              </div>
              <button type="submit" class="btn btn-success">Save</button>
              <button type="button" class="btn btn-secondary" (click)="cancelEdit()">Cancel</button>
            </form>
          </div>
          <ng-template #viewMode>
            <div class="profile-info">
              <h2>User Profile</h2>
              <p><strong>Nome Completo:</strong> {{ user.first_name }} {{ user.last_name }}</p>
              <p><strong>CPF:</strong> {{ user.cpf }}</p>
              <p><strong>Data de Nascimento:</strong> {{ user.data_nasc }}</p>
              <p><strong>Telefone:</strong> {{ user.telefone }}</p>
              <p><strong>E-mail:</strong> {{ user.email }}</p>
              <!-- Add other user information here -->
              <!-- ... -->
              <button type="button" class="btn btn-primary" (click)="enableEdit()">Edit Profile</button>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </section>
  