.container {
    padding: 20px;
}

.card {
    margin-bottom: 20px;
    background-color: #F6F6F6;
    width: 30vh;
    height: 30vh;
    border-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-img-top {
    margin-top: 15%;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: auto;
    display: block;
}

.card-body {
    text-align: center;
    padding: 0;
    margin: 0;
}

.img-container {
    text-align: center;
}
