body {
    background-color: #f0f0f0;
}

.container-fluid {
    max-width: 100%;
}

.vh-100 {
    height: 100vh;
}

.h-custom {
    height: calc(100% - 60px);
}

.form-outline {
    margin-bottom: 1.5rem;
}

.form-outline input[type=email],
.form-outline input[type=password] {
    border-color: #d1d1d1;
    box-shadow: none;
}

.form-outline input[type=email]:focus,
.form-outline input[type=password]:focus {
    border-color: #fd7e14;
    box-shadow: 0 0 0 0.2rem rgba(253, 126, 20, 0.25);
}

.btn-success {
    background-color: #198754;
    border-color: #198754;
}

.btn-success:hover {
    background-color: #146c43;
    border-color: #146c43;
}
@media screen and (max-width: 768px) {
    .login-image {
        display: none;
    }
}

/* CSS */
.position-relative {
    position: relative;
}
.position-absolute {
    position: absolute;
}
/* CSS */
.input-with-icon {
    padding-left: 40px !important;
}