<section class="vh-100">
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-6 col-xl-5 login-image">
          <img src="../../assets/images/loginImage.jpg" class="img-fluid" alt="Sample image">
        </div>
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
          <form (submit)="login()">
            <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start mb-5">
              <img src="../../assets/images/FRST-Logo-Base-01.png" class="img-fluid" alt="Sample image">
           </div>
  
            <!-- Email input -->
            <div class="form-outline mb-4 position-relative">
              <input type="email" id="username" name="username" class="form-control form-control-lg input-with-icon"
                  placeholder="E-mail" [(ngModel)]="username" />
              <i class="fas fa-envelope position-absolute" style="left: 15px; top: 50%; transform: translateY(-50%);"></i>
            </div>
            <!-- Password input -->

            <div class="form-outline mb-4 position-relative">
              <input type="password" id="password" name="password" class="form-control form-control-lg input-with-icon"
                  placeholder="Senha" [(ngModel)]="password" />
              <i class="fas fa-envelope position-absolute" style="left: 15px; top: 50%; transform: translateY(-50%);"></i>
            </div>
  
 
            <div class="d-flex justify-content-between align-items-center">
              <!-- Checkbox -->
              <div class="form-check mb-0">
                <input class="form-check-input me-2" type="checkbox" name="rememberMe" value="" id="form2Example3" [(ngModel)]="rememberMe" />
                <label class="form-check-label" for="form2Example3">
                  Lembrar-me
                </label>
              </div>
              <a  routerLink="/forgotPassword" class="text-body">Esqueceu a senha?</a>
            </div>
  
            <div class="text-center text-lg-start mt-4 pt-2">
                <button type="submit" class="btn btn-success btn-lg"
                  style="padding-left: 2.5rem; padding-right: 2.5rem;">Login</button>
                <p class="small fw-bold mt-2 pt-1 mb-0">Ainda não possui conta? <a routerLink="/register"
                  class="link-danger">Registre-se</a></p>
              </div>
          </form>
        </div>
      </div>
    </div>
  </section>