<div class="container d-flex align-items-center justify-content-center vh-100">
  <div class="card">
    <div class="card-body">
      <div class="text-center">
        <h3 class="mb-4">Liberação de máquina:</h3>
      </div>
      <div class="text-center ">
        <div *ngIf="!loadingCamera" class="text-center mt-4">
            <!-- Elemento de loader com classe personalizada -->
            <div class="spinner-container">
                <div class="spinner-border spinner-custom" role="status"></div>
                <span *ngIf="leuQrCode" class="spinner-text">{{tempo}}</span>
            </div>
        </div>
        <div *ngIf="loadingCamera" class="scanner-wrapper">
            <zxing-scanner 
              [formats]="[BarcodeFormat.QR_CODE, BarcodeFormat.EAN_13, BarcodeFormat.CODE_128, BarcodeFormat.DATA_MATRIX]"
              (scanSuccess)="handleQrCodeResult($event)"
              class="scanner-zoom"
            ></zxing-scanner>
        </div>
      </div>
      <div class="text-center mt-4">
        <button class="btn custom-button" (click)="goBack()">Voltar</button>
      </div>
    </div>
  </div>
</div>
