@media (max-width: 600px) {
    /* Adicione uma classe à sua tabela para aplicar estilos específicos */
    .narrow-table {
      margin: 0; /* Remova as margens */
      font-size: 14px;
    }
    .hidden-small-screen {
      display: none;
    }
    .hide-big-screen{
      display: block !important;
    }
    .larger-button {
      width: 120px !important;
      margin-left: 20px !important;
      padding: 2px !important; /* Espaçamento em volta do conteúdo */
    }
    .button-icon {
      width: 60px !important; /* Largura da imagem */
      height: 60px !important; /* Altura da imagem */
    }
}
.hide-big-screen{
  display: none;
}
.containerAdmin{
 margin-left: 5px;
}
/* buildings-control.component.css */
.button-container {
  margin: 20px; /* Espaço entre os botões */
  display: flex; /* Usar Flexbox */
  flex-wrap: wrap; /* Quebrar linha quando não houver espaço suficiente */
  justify-content: flex-start; /* Alinhar os botões à esquerda */
  align-items: center; /* Alinhar os botões verticalmente */
  flex-grow: 1; /* Ocupar todo o espaço disponível na direção do eixo principal */
}
.button-icon {
  width: 80px; /* Largura da imagem */
  height: 80px; /* Altura da imagem */
}
.larger-button {
  background-color: #f6f6f6; 
  border-radius: 15px;
  color: #7B7B84; 
  padding: 5px; 
  transition: transform 0.3s ease; 
  font-family: 'LayarBahtera Doomsday';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  margin-left: 15px;
  width: 150px;
}
.free-machine {
  color: #0E7F3B;
  font-size: 13px;
  font-weight: 600;
}


.in-use-machine {
  color: #E81515;
  font-size: 13px;
  font-weight: 600;
  
}
.button-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttonActionLigar {
  background-color: #0E7F3B;
  color: whitesmoke;
  font-weight: 600;
  font-size: 15px; 
  height: 30px; 
  padding: 5px 10px; 
}
.buttonActionDesligar{
  background-color: #ff2a00;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 14px; 
  height: 30px; 
  padding: 5px 10px; 
}
.buttonActionLigar:hover {
  background-color: #12a54d; 
  transform: scale(1.05); 
}
.buttonActionDesligar:hover {
  background-color: #a31c01; 
  transform: scale(1.05); 
}

.button-text {
  font-size: 15px;
}

.table-light-gray {
  background-color: #F6F6F6; 
}

.table-light {
  background-color: white; 
}

.table-wrapper {
  max-height: 350px; 
  overflow-y: auto;
  border-radius: 20px;
}

.table thead {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #f8f9fa;
  color: #494A50;
  font-family: 'LayarBahtera Doomsday';
}

.table-wrapper::-webkit-scrollbar {
  width: 4px;
}

.table-wrapper::-webkit-scrollbar-thumb {
  background-color: #B7B7B7;
  border-radius: 4px;
}

.table-wrapper::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.table tr,
.table td,
.table th {
  border: none;
}




.valorTotal{
  font-weight: bolder;
}

.faturaMensal{
  background-color: transparent;
  border: none; 
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
  text-align: center; 
  padding: 20px; 
}
.faturaMensalValor{
    font-family: 'LayarBahtera Doomsday';
    font-style: normal;
    font-weight: 800;
    font-size: 45px;
    line-height: 29px;
    text-align: center;
    text-transform: uppercase;
    color: #0E7F3B; /* White text */

}
.faturaMensalDescricao{
    font-family: 'LayarBahtera Doomsday';
    color: #7B7B84; /* White text */
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 29px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 25px;
    margin-top:15px;
}
.delete-button {
  background-color: red;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  font-size: 14px; 
  padding: 5px 10px; 
}
.delete-button:hover {
  background-color: #d9534f; 
  transform: scale(1.05); 
}
.selectMesAno{
  border-width: 1px;
  border-color: #828886;
  height: 50px;
  border-radius: 10px;
}
.resumoGastos {
  background-color: #f6f6f6; 
  border-radius: 15px;
  color: #7B7B84;
  padding: 30px; 
  transition: transform 0.3s ease; 
  font-family: 'LayarBahtera Doomsday';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  margin-right: 25px;
  height: 350px;
}
.mesAnoSelecionado{
  border-radius: 5px;
  border-color: #B7B7B7;
  border-width: 2px;
  border-style: solid;
  height: 30px;
  width: 150px;
}
.bullet-point {
  display: block; 
  font-size: 30px; 
  margin-left: 0;
  margin-top: 25px;
  margin-bottom: 10px;
  text-align: left; 
}
.valueBullet{
  display: block; 
  font-size: 30px; 
  margin-left: 0; 
  text-align: left; 
  margin-bottom: 25px;
}
.gray-text {
  color: gray;
}
.green-text {
  color: green;
}
.download-button {
  display: flex;
  align-items: center; 
  justify-content: center; 
  background-color: green; 
  color: white; 
  border-radius: 5px; 
  padding: 10px 20px; 
  border: none; 
  cursor: pointer;
}
.download-button i {
  margin-right: 5px; 
}
/* Classe MOBILE */
.resumoGastosMobile {
  background-color: #f6f6f6;
  border-radius: 15px;
  color: #7B7B84;
  padding: 10px; 
  font-family: 'LayarBahtera Doomsday';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  margin-right: 5px;
}
.mesAnoSelecionadoMobile {
  border-radius: 5px;
  border: 2px solid #B7B7B7; 
  padding: 10px; 
  width: 150px;
  height: 40px;
}
.bullet-pointMobile {
  font-size: 25px;
  margin: 0; 
}
.valueBulletMobile {
  font-size: 25px;
  margin: 0; 
}
.download-buttonMobile {
  display: flex;
  align-items: center; 
  justify-content: center; 
  background-color: green; 
  color: white; 
  border-radius: 5px; 
  padding: 10px 20px; 
  border: none;
  cursor: pointer; 
  width: 300px;
}
.download-buttonMobile i {
  margin-right: 5px; 
}
