<!-- buildings-control.component.html -->
<div class="container">
    <!-- Primeiro bloco -->
    <div class="col button-container">
      <!-- Adicionamos a classe "button-row" para alinhar os botões à esquerda -->
      <div class="button-row">
        <!-- Repita esta estrutura para cada botão que deseja exibir -->
        <button class="larger-button">
          <div class="button-content">
            <img src="../../../assets/images/predio.svg" class="button-icon" />
            <span class="button-text">Bergamo</span>
          </div>
        </button>
  
        <!-- Repita a estrutura do botão aqui -->
        <button class="larger-button">
          <div class="button-content">
            <img src="../../../assets/images/predio.svg" class="button-icon" />
            <span class="button-text">Capri</span>
          </div>
        </button>

        <!-- Adicione mais botões conforme necessário -->
      </div>
    </div>
  </div>
  