@media (max-width: 600px) {
    .main-layout {
        overflow: hidden;
    }

    .main-layout.row {
        flex-direction: column;
    }

    .app-content {
        overflow: auto;
        margin-left: 20px;
    }

    .rectangle {
        flex-direction: column;
    }

    /* Adicione esta regra para esconder a barra lateral em telas menores que 600px */
    .sidebar {
        display: none;
    }
}
.containerAdmin{
margin-left: 20px;
}
/* buildings-control.component.css */
.button-container {
  background: white;
  border-radius: 15px;
  padding: 10px; /* Espaço em volta dos botões */
  margin: 10px; /* Espaço entre os botões */
  display: flex; /* Usar Flexbox */
  flex-wrap: wrap; /* Quebrar linha quando não houver espaço suficiente */
  justify-content: flex-start; /* Alinhar os botões à esquerda */
  align-items: center; /* Alinhar os botões verticalmente */
  flex-grow: 1; /* Ocupar todo o espaço disponível na direção do eixo principal */
  height: 300px;
  overflow: hidden;

}

  
  .larger-button {
    background-color: #f6f6f6; /* Sem cor de fundo */
    border-radius: 15px;
    color: #7B7B84; /* Texto em branco */
    padding: 30px; /* Espaçamento em volta do conteúdo */
    transition: transform 0.3s ease; /* Transição para efeito de hover */
    font-family: 'LayarBahtera Doomsday';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    text-transform: uppercase;
    margin-left: 60px;
    margin-bottom: 10px;
    width: 250px;
  }

  .free-machine {
    color: #0E7F3B;
  }
  
  /* Estilos para máquinas em uso */
  .in-use-machine {
    color: #E81515;
    /* Outros estilos personalizados para máquinas em uso */
  }
  
  .button-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .button-icon {
    width: 120px; /* Largura da imagem */
    height: 120px; /* Altura da imagem */
    margin-bottom: 10px; /* Espaço entre a imagem e o texto */
  }
  
  .buttonActionLigar {
    background-color: #D9D9D9;
    color: #0E7F3B;
    font-weight: 500;
    font-size: 14px; /* Reduzindo o tamanho da fonte */
    height: 30px; /* Reduzindo a altura do botão */
    padding: 5px 10px; /* Adicionando espaço interno ao botão */
  }
  .buttonActionDesligar{
    background-color: #FF4B26;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 14px; /* Reduzindo o tamanho da fonte */
    height: 30px; /* Reduzindo a altura do botão */
    padding: 5px 10px; /* Adicionando espaço interno ao botão */
  }
  .button-text {
    font-size: 15px;
  }

  .table-light-gray {
    background-color: #F6F6F6; /* Replace with your desired light green color */
  }
  
  .table-light {
    background-color: white; /* Replace with your desired background color */
  }
  
  .table-wrapper {
    max-height: 400px; /* You can change this value as needed */
    overflow-y: auto; /* Add scroll functionality if content overflows */
  }
  
  .table thead {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #f8f9fa;
    color: #494A50;
    font-family: 'LayarBahtera Doomsday';
  }
  
  .table-wrapper::-webkit-scrollbar {
    width: 4px;
  }
  
  .table-wrapper::-webkit-scrollbar-thumb {
    background-color: #B7B7B7;
    border-radius: 4px;
  }
  
  .table-wrapper::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }
  
  .table tr,
  .table td,
  .table th {
    border: none;
  }


  /* Style the input elements */
  input[type="text"],
  input[type="number"],
  input[type="date"] {
    width: 100%; /* Set the width to fill the container */
    padding: 4px 8px; /* Add some padding for better appearance */
    border: none; /* Remove the border */
    background-color: #f2f2f2; /* Set a background color to distinguish the input area */
    border-radius: 4px; /* Add a slight border radius for a subtle effect */
    font-size: 14px; /* Adjust the font size as needed */
  }

  /* Style the input placeholders */
  input::placeholder {
    color: #777; /* Set a color for the placeholder text */
  }

  /* Optionally, you can add some margin between inputs for better spacing */
  input[type="text"],
  input[type="number"],
  input[type="date"] + input[type="text"],
  input[type="number"] + input[type="text"],
  input[type="date"] + input[type="number"] {
    margin-bottom: 8px; /* Adjust the margin as needed */
  }

  .valorTotal{
    font-weight: bolder;
  }
  
  .faturaMensal{
    background-color: transparent; /* No background */
    border: none; /* No border */
    display: flex; /* Align image and text */
    flex-direction: column; /* Stack image and text vertically */
    align-items: center; /* Center the contents */
    justify-content: center; /* Center the contents */
    text-align: center; /* Center the text */
    padding: 20px; /* Padding around the content */
}
.faturaMensalValor{
    font-family: 'LayarBahtera Doomsday';
    font-style: normal;
    font-weight: 800;
    font-size: 45px;
    line-height: 29px;
    text-align: center;
    text-transform: uppercase;
    color: #0E7F3B; /* White text */

}
.faturaMensalDescricao{
    font-family: 'LayarBahtera Doomsday';
    color: #7B7B84; /* White text */
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 29px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 25px;
    margin-top:15px;
}
/* Add this to your styles.css or styles.scss file */
.delete-button {
  background-color: red;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  font-size: 14px; /* Adjust the font size as needed */
  padding: 5px 10px; /* Adjust the padding as needed */
}

.delete-button:hover {
  background-color: #d9534f; /* Slightly lighter shade of red on hover */
  transform: scale(1.05); /* Slightly enlarge the button on hover */
}


.selectMesAno{
  border-width: 1px;
  border-color: #828886;
  height: 50px;
  border-radius: 10px;
}

