.container{
  background: #F6F6F6;
  border-radius: 15px;
}
.table-light-gray {
  background-color: #F6F6F6; /* Replace with your desired light green color */
}

.table-light {
  background-color: white; /* Replace with your desired background color */
}
.table-wrapper {
  max-height: 400px;
  overflow: auto;
}

.table thead {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #f8f9fa;
}

.table-wrapper::-webkit-scrollbar {
  width: 4px;
}

.table-wrapper::-webkit-scrollbar-thumb {
  background-color: #B7B7B7;
  border-radius: 4px;
}

.table-wrapper::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
.log-gastos-title{
  font-family: 'LayarBahtera Doomsday';
  font-style: normal;
  font-weight: 550;
  font-size: 25px;
  color: #7B7B84; /* White text */
}
.table tr, .table td, .table th {
  border: none;
}
