<div class="rectangle">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="text-center">Registro de uso</h2>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search...">
        </div>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Horário Inicial</th>
                <th scope="col">Horário Final</th>
                <th scope="col">Prédio</th>
                <th scope="col">Data</th>
                <th scope="col">Total Gasto</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let usageHistory of formattedUsageHistory">
                <td>{{ usageHistory.start_time }}</td>
                <td>{{ usageHistory.end_time }}</td>
                <td>{{ usageHistory.building }}</td>
                <td>{{ usageHistory.date }}</td>
                <td>{{ usageHistory.total_cost }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>