<div class="container">
    <div class="row">
      <div class="col-12">
        <h2>Resumo Mensal</h2>
        <div class="form-group">
          <label for="month-picker">Escolha o mês:</label>
          <input id="month-picker" type="text" class="form-control" bsDatepicker [(bsValue)]="selectedMonth" [bsConfig]="{ dateInputFormat: 'MM/YYYY' }">
        </div>
        <h3>Valor para {{selectedMonth | date:'MM/yyyy'}}: {{monthlyValues[selectedMonth.toString()] | currency:'BRL'}}</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <canvas baseChart
                [datasets]="chartData"
                [labels]="chartLabels"
                [options]="chartOptions"
                [legend]="chartLegend"
                >
        </canvas>
      </div>
    </div>
  </div>