<!-- buildings-control.component.html -->
<div class="container" [formGroup]="myGroup"> <!-- Add the formGroup directive -->
  <select id="building_id" name="building_id" class="form-control" formControlName="building_id" required (change)="onBuildingSelect($event)">
    <option value="" disabled selected>Selecione o prédio</option>
    <!-- Loop through the buildings array and create an option for each building -->
    <option *ngFor="let building of buildings" [value]="building.id">{{ building.name }}</option>
  </select>
  <br>
  <!-- Table to display user properties -->
  <div class="table-wrapper">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Apartamento</th>
          <th scope="col">First_Name</th>
          <th scope="col">Last_Name</th>
          <th scope="col">CPF</th>
          <th scope="col">E-mail</th>
          <th scope="col">Telefone</th>
          <th scope="col">Prédio_Id</th>
          <th scope="col">Função</th>
          <th scope="col">Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users; let i = index" [ngClass]="{'table-light': i % 2 === 0, 'table-light-gray': i % 2 !== 0}">
          <td>
            <ng-container *ngIf="!user.isEditing; else editMode">
              {{ user.apt_name }}
            </ng-container>
            <ng-template #editMode>
              <input type="text" [(ngModel)]="user.apt_name" class="form-control">
            </ng-template>
          </td>
          <td>
            <ng-container *ngIf="!user.isEditing; else editMode">
              {{ user.first_name }}
            </ng-container>
            <ng-template #editMode>
              <input type="text" [(ngModel)]="user.first_name" class="form-control">
            </ng-template>
          </td>
          <td>
            <ng-container *ngIf="!user.isEditing; else editMode">
              {{ user.last_name }}
            </ng-container>
            <ng-template #editMode>
              <input type="text" [(ngModel)]="user.last_name" class="form-control">
            </ng-template>
          </td>
          <td>
            <ng-container *ngIf="!user.isEditing; else editMode">
              {{ user.cpf }}
            </ng-container>
            <ng-template #editMode>
              <input type="text" [(ngModel)]="user.cpf" class="form-control">
            </ng-template>
          </td>
          <td>
            <ng-container *ngIf="!user.isEditing; else editMode">
              {{ user.email }}
            </ng-container>
            <ng-template #editMode>
              <input type="text" [(ngModel)]="user.email" class="form-control">
            </ng-template>
          </td>
          <td>
            <ng-container *ngIf="!user.isEditing; else editMode">
              {{ user.telefone }}
            </ng-container>
            <ng-template #editMode>
              <input type="text" [(ngModel)]="user.telefone" class="form-control">
            </ng-template>
          </td>
          <td>
            <ng-container *ngIf="!user.isEditing; else editMode">
              {{ user.building_id }}
            </ng-container>
            <ng-template #editMode>
              <input type="text" [(ngModel)]="user.building_id" class="form-control">
            </ng-template>
          </td>
          <td>
            <ng-container *ngIf="!user.isEditing; else editMode">
              {{ user.role }}
            </ng-container>
            <ng-template #editMode>
              <input type="text" [(ngModel)]="user.role" class="form-control">
            </ng-template>
          </td>
          <td>
            <button class="btn btn-primary" (click)="editUser(user)">
              <ng-container *ngIf="!user.isEditing">Edit</ng-container>
              <ng-container *ngIf="user.isEditing">Save</ng-container>
            </button>
            <button class="btn btn-danger" (click)="deleteUser(user)">
              <i class="fas fa-trash"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
