<!-- buildings-control.component.html -->
<div class="container" [formGroup]="myGroup"> <!-- Add the formGroup directive -->
  <select id="building_id" name="building_id" class="form-control" formControlName="building_id" required (change)="onBuildingSelect($event)"  >
    <option value="" disabled selected>Selecione o prédio</option>
    <!-- Loop through the buildings array and create an option for each building -->
    <option *ngFor="let building of buildings" [value]="building.id">{{ building.name }}</option>
  </select>
  <br>
  <!-- Table to display user properties -->
  <div class="table-wrapper">
    <table class="table narrow-table">
      <thead>
        <tr>
          <th scope="col">Apartamento</th>
          <th scope="col">Nome</th>
          <th scope="col" class="hidden-small-screen">Sobrenome</th>
          <th scope="col" class="hidden-small-screen">Cpf</th>
          <th scope="col" class="hidden-small-screen">E-mail</th>
          <th scope="col" class="hidden-small-screen">Telefone</th>
          <th scope="col">Editar</th>
          <th scope="col">Reinicar Senha</th>
          <th scope="col">Excluir</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users; let i = index" [ngClass]="{'table-light': i % 2 === 0, 'table-light-gray': i % 2 !== 0}">
          <td>{{ user.apt_name }} </td>
          <td>{{ user.first_name }}</td>
          <td class="hidden-small-screen"> {{ user.last_name }}</td>
          <td class="hidden-small-screen"> {{ user.cpf }}</td>
          <td class="hidden-small-screen"> {{ user.email }}</td>
          <td class="hidden-small-screen"> {{ user.telefone }}</td>
          <td> <button class="btn btn-primary btn-sm" (click)="editUser(user)"><i class="fas fa-edit"></i></button></td>
          <td> <button class="btn btn-warning btn-sm" (click)="resetPassword(user)"><i class="fa fa-refresh" aria-hidden="true"></i></button></td>
          <td> <button class="btn btn-danger btn-sm" (click)="deleteUser(user)"><i class="fas fa-trash"></i></button></td>
          
        </tr>
      </tbody>
    </table>
  </div>
</div>
