.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}

.h-custom {
  height: 100%;
}

@media (min-width: 768px) {
  .h-custom {
    height: calc(100% - 112px);
  }
}
.invalid {
  border: 2px solid red;
}
